.App {
  padding: 80px 0;
  background-color: #0e100f;
}

h1 {
  padding: 40px 0;
  font-size: 80px;
  color: #fffce1;
  text-transform: uppercase;
  text-align: center;
}

.block_ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.empty_block {
  margin: 40px auto;
  border-radius: 24px;
  background: linear-gradient(114.41deg, #abff84 20.74%, #0ae448 65.5%);
  width: 120px;
  height: 120px;
}

.scrolling-text {
  font-size: 160px;
  color: #0ae448;
}
